body{
    background: var(--background);
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    display: grid;
    grid-template-columns: 100%;
    font-style: Sans-Serif;;
    color: white;

}

:root{
    --hover: rgb(0, 162, 255);
    --text-primary: rgb(2, 0, 37); 
    --text-secondary: rgb(22, 21, 46);
    --text-muted: rgb(61, 62, 75);
    --background: rgb(13, 15, 34);
    --shadow: rgb(39, 39, 39);
    --border: rgb(139, 139, 139);
    --bg-card: rgba(161, 161, 161, 0.26);
}


/*Header*/
.headerPrincipal{
    margin: 1px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    border: 1px solid rgb(33, 35, 58);
    background: rgb(7, 9, 24);
    height: 70px;
}

.divHeaderPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:  10spx;
}



.imgLogo{   
    
    padding: 0%;
    margin: 0%;
}

.searchDiv{
    display: flex;
    justify-content: center;
}

.searchStyle {
    width: 400px;
    height: 30px;
    border-radius: 3px;

}

.navMenu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navMenu a svg{
    color: white;
}



/*main cabezera*/

.mainPrincipal{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titlePrincipal{
    display: flex;
    justify-content: center;
    color: white;
    margin: 0%;
    padding: 0%;
    
}

.divHeader{

}

.h3titlePrincipal{
    margin: 0%;
    padding: 0%;
    font-weight: 300;
    color: rgb(202, 202, 202);
}

.sectionNav{
    margin: 0%;
    padding: 0%;
}

.navMainHeader{
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding: 0%;
    
}

.navMainLi {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid var(--text-muted);
    border-radius: 20px;
}   



/*main seccion contenido*/

.sectioContent{
    background: rgb(250, 255, 239);
    border: 1px solid rgb(192, 192, 192);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    padding-top: 25px;
    padding-left:  10px;
    padding-right: 10px;
}

.contetnPrincipal{
    
}

.imgProduct{
    
    width: 100%;
    height: 100%;
}

.divImg{
    position: relative;
    overflow: hidden;
    
    width: auto;
    height: 200px;
}

.divImg a{
    position: absolute;
    z-index: 99;
    top: 85%;
    left: 85%;
    color: rgb(0, 201, 33);
    background: rgba(0, 0, 0, 0.76);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 2px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.divImg a svg{
    width: 24px;
    height: 24px;
}

.descriptionContent{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.descriptionText{
    padding-left: 5px ;
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    font-style: Sans-Serif;
    font-weight: 200;
}

.descriptionPrice{
    display: flex;
    flex-wrap: nowrap;
    margin: 0%;  
    font-weight: 200;
    font-size: medium;

}


/*footer*/

.footerPrincipal{
    margin: 0%;
    padding: 0%;
    
}

/*hover active etc*/

.navMainLi:hover{
    color: rgb(13, 158, 241);
    border: 1px solid rgb(13, 158, 241);
}

.navMainLi.active{
    background: var(--hover);
    color: black;
    font-weight: 900;

    &:hover{
        background: transparent;
        color: var(--text-muted);
        border-color: var(--border);
        font-weight: 300;
    }

}

.imgProduct:hover{
    scale: 110%;
}

.divImg a:hover{
    scale: 101%;
    background: var(--background);
}