body{
    background-color: rgb(223, 206, 206);
    padding: 0%;
    margin: 0%;
}
header{
    background: rgb(185, 166, 166);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.divHeaderPrincipal{
    display: flex;
    gap: 10px;
}