body{
    background: linear-gradient(
        to bottom, 
        rgb(14, 13, 26) 25%, 
        rgb(216, 216, 216))no-repeat;
    background-color: rgb(216, 216, 216);
    padding: 0%;
    margin: 0%;
    height: 100vh;
    text-decoration: none;
    display: grid;
    grid-template-columns: 100%;
    color: white;

}

:root{
    --hover: rgb(0, 162, 255);
    --text-primary: rgb(2, 0, 37); 
    --text-secondary: rgb(22, 21, 46);
    --text-muted: rgb(61, 62, 75);
    --background: rgb(13, 15, 34);
    --shadow: rgb(39, 39, 39);
    --border: rgb(139, 139, 139);
    --bg-card: rgba(161, 161, 161, 0.26);
}


/*Header*/
.headerPrincipal{
    margin: 1px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    border: 1px solid rgb(33, 35, 58);
    background: rgb(7, 9, 24);
    height: 70px;
}

.divHeaderPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:  10spx;
}



.imgLogo{   
    
    padding: 0%;
    margin: 0%;
}

.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDiv input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.searchStyle {
    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: none;
    box-shadow: 2px 2px rgb(31, 31, 31);
}

.buttonSvgSearch{
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 28px;
    height: 28px;
}

.svgSearch{
    width: 20px;
    height: 20px;
    transition: 0.2s ease;
    color: black;
    &:hover{
        stroke: blue;
    }
}



.navMenu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navMenu a svg{
    color: white;
}



/*main cabezera*/

.mainPrincipal{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titlePrincipal{
    display: flex;
    justify-content: center;
    color: white;
    margin: 0%;
    padding: 0%;
    
}

.divHeader{

}

.h3titlePrincipal{
    margin: 0%;
    padding: 0%;
    font-weight: 300;
    color: rgb(202, 202, 202);
}

.sectionNav{
    margin: 0%;
    padding: 0%;
}

.navMainHeader{
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding: 0%;
    
}

.navMainLi {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid var(--text-muted);
    border-radius: 20px;
    cursor: pointer;
    
}   



/*main seccion contenido*/

.sectioContent{
    background: rgb(250, 255, 239);
    border-radius: 5px;
    border: 1px solid rgb(192, 192, 192);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr     ;
    gap: 35px;
    row-gap: 10px;
    padding-top: 25px;
    padding-left:  10px;
    padding-right: 10px;
    
}

.contetnPrincipal{
    height: 250px;
    cursor: pointer;
}

.imgProduct{
    width: auto;
    height: 150px;
}

.divImg{
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}



.descriptionContent{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 30px;
}

.descriptionText{
    margin: 0%;
    font-size: small;
    font-style: Sans-Serif;
    font-weight: 200;
    color: black;

}

.descriptionPrice{
    display: flex;
    align-items: flex-start;
    
    margin: 0%;  
    margin-top: 5px;
    font-weight: 400;
    font-size:large;
    color: black;

}


/*footer*/

.footerPrincipal{
    margin: 0%;
    padding: 0%;
    
}

/*hover active etc*/

.navMainLi:hover{
    color: rgb(13, 158, 241);
    border: 1px solid rgb(13, 158, 241);
}

.navMainLi.active{
    background: var(--hover);
    color: black;
    font-weight: 900;

    &:hover{
        background: transparent;
        color: rgb(13, 158, 241);
        border-color: rgb(13, 158, 241);
        font-weight: 300;
    }

}

.imgProduct:hover{
    scale: 110%;
}

.divImg a:hover{
    scale: 101%;
    background: var(--background);

}

.contetnPrincipal:hover .descriptionText{
    color: blue;
}