body{
    background: linear-gradient(
        to bottom, 
        #eafce4 50%, 
        #fafafa)no-repeat;
    background-color: #ffffff;
    padding: 0%;
    margin: 0%;
    height: 70vh;
    text-decoration: none;
    display: grid;
    grid-template-columns: 100%;
    color: #1E293B;

}

:root{
    --hover: rgb(0, 162, 255);
    --text-primary: rgb(2, 0, 37); 
    --text-secondary: rgb(22, 21, 46);
    --text-muted: rgb(61, 62, 75);
    --background: rgb(13, 15, 34);
    --shadow: rgb(39, 39, 39);
    --border: rgb(139, 139, 139);
    --bg-card: rgba(161, 161, 161, 0.26);
}


/*Header*/
.headerPrincipal{
    margin: 0px 0.5px;
    border-radius: 0px 0px 5px 5px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    border: 1px solid rgb(33, 35, 58);
    background: #353535;
    height: 70px;
}

.divHeaderPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:  10spx;
}



.imgLogo{   
    
    padding: 0%;
    margin: 0%;
}

.textLogo{
    color: white;
}


.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDiv input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.searchStyle {
    background: #eafce4;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    color: #1E293B    ;
    width: 250px;
    font-size: 14px;
    font-weight: 600;
}



.buttonSvgSearch{
    all: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 28px;
    height: 28px;
}

.svgSearch{
    width: 20px;
    height: 20px;
    transition: 0.2s ease;
    color: #1E293B;
    &:hover{
        stroke: rgb(0, 110, 255);
        background: rgb(216, 216, 230);
        border-radius: 20%;
        
    }
}



.navMenu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navMenu a svg{
    color: white;
}



/*main cabezera*/

.mainPrincipal{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.titlePrincipal{
    display: flex;
    justify-content: center;
    color: #1E293B;
    margin: 0%;
    padding: 0%;
    
}

.divHeader{

}

.h3titlePrincipal{
    margin: 0%;
    padding: 0%;
    font-weight: 300;
    color: #64748B;
}

.sectionNav{
    margin: 0%;
    padding: 0%;
}

.navMainHeader{
    display: flex;
    gap: 5px;
    list-style-type: none;
    padding: 0%;
    
}

.navMainLi {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E293B;
    width: 100px;
    height: 30px;
    border: 1px solid var(--text-muted);
    border-radius: 20px;
    cursor: pointer;
    
}   



/*main seccion contenido*/

.sectionContent{
    background: rgb(250, 255, 239);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(177, 177, 177);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    gap: 35px;
    row-gap: 5px;
    padding-top: 25px;
    padding-left:  10px;
    padding-right: 10px;
    margin: 0px 80px;
}

.contetnPrincipal{
    height: 250px;
    cursor: pointer;
}

.imgProduct{
    width: auto;
    height: 150px;
}

.divImg{
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}



.descriptionContent{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 30px;
}

.descriptionText{
    margin: 0%;
    font-size: small;
    font-style: Sans-Serif;
    font-weight: 200;
    color: black;

}

.divTextPrice{
    display: flex;
    align-items: flex-end;

}

.divPriceAndBefore{

}

.descriptionPriceBefore{
    padding-left: 5px;
    text-decoration: line-through;
    margin: 0%;  
    font-weight: 300;
    font-size:12px;
    color: rgb(59, 59, 59);
}

.descriptionPrice{
    margin: 0%;  
    
    font-size:1.2rem;
    font-weight: 700;
    color: black;


}

.descriptionPriceOfert{
    display: flex;
    align-items: flex-end   ;

    margin: 0px 2px;  
    padding: 0%;
    height: 20px;

    font-weight: 600;
    font-size:14px;
    
    color: rgb(43, 194, 13);
    background: rgba(193, 247, 183, 0.377);
}



/*footer*/

.footerPrincipal{
    margin: 0%;
    padding: 0%;
    
}

/*hover active etc*/

.navMainLi:hover{
    color: rgb(13, 158, 241);
    border: 1px solid rgb(13, 158, 241);
}

.navMainLi.active{
    background: var(--hover);
    color: #1E293B;
    font-weight: 900;

    &:hover{
        background: transparent;
        color: rgb(13, 158, 241);
        border-color: rgb(13, 158, 241);
        font-weight: 600;
    }

}

.imgProduct:hover{
    scale: 110%;
}

.divImg a:hover{
    scale: 101%;
    background: var(--background);

}

.contetnPrincipal:hover .descriptionText{
    color: blue;
}